:root {
  /* colors */
  /* --primary-color: #14163c;
  --second-color: #0c0e2a;
  --thrid-color: #f8544b;
  --text-color: #cecece;

  --hover-color-one: #0c0e2a;
  --hover-color-two: #cc413a; */

  /* dark color*/
  --primary-color: #111;
  --second-color: #222;
  --thrid-color: #444;
  --text-color: #cecece;

  --hover-color-one: #222;
  --hover-color-two: #777777;

  /* light color */
  /* --primary-color: #ddd;
  --second-color: #ccc;
  --thrid-color: #222;
  --text-color: #333;

  --hover-color-one: #ccc;
  --hover-color-two: #3c3b3b; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  background: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(#8a91ff, #6d3c9b);
}

.containerCalculator {
  width: 400px;
  height: 600px;
  background: var(--primary-color);

  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.containerResult {
  height: 40%;
  font-size: 3rem;
  text-align: end;
  padding: 10px 5px;
  position: relative;

  background-color: var(--second-color);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.containerResult::before {
  content: '';
  background-color: var(--text-color);
  width: 30px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.containerResult::after {
  content: '';
  background-color: var(--text-color);
  width: 30px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  right: 15px;
}

.result {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.keyboardCalculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 60%;
  padding: 10px;
}

.keyboardCalculator .btn {
  height: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.2s;
}

.keyboardCalculator .btn:hover {
  background-color: var(--hover-color-one);
  box-shadow: -1px -1px 2px var(--text-color);
  transition: 0;
}

#zero {
  grid-column: 1/3;
}

#equal {
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--thrid-color);
  grid-column: 4;
  grid-row: 4 / span 2;
}

#equal:hover {
  background-color: var(--hover-color-two);
}
